html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.navbarContainer {
    width: 100vw;
    height: 125px;
    background-color: rgb(243, 116, 137);
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbarSearch {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navbarElementMain {
    display: flex;
    width: 20%;
    padding-right: 10px;
    height: 100%;
    background-color: #031C32;
    justify-content: center;

}

.navbarElement {
    display: flex;
    width: 20%;
    height: 100%;
    margin-right: 50px;
    background-color: #031C32;
    justify-content: center;

}

.navbarLogo {
    width: 45%;
    height: 60%;
    object-fit: contain;
}

.navbarLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 190%;
    color: #EBCACA;
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
}
.navbarLinkCata {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    color: #EBCACA;
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 45%;
    background-color: white;
}

.inputBox {
    width: 90%;
    height: 90%;
    font-size: 20px;
    background-color: white;
    border: none;
    outline: none;
}